:root{
--dark:black;
--blue: blue;
--red: red;
--purp: rgb(161, 12, 161);
--lblu: rgba(26, 138, 158, 0.767);
--font: font-family: Gill Sans, sans-serif;
--light: white;
}
         

/* Removes white outlines around background color*/

*{
   
margin: 0;
padding: 0;
}

/* Styles header*/

header{
flex-wrap: wrap;
background-color: var(--dark);
display: flex;
 justify-content: space-between;
 padding: 20px 32px;

}

header nav ul{
   display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}




header nav ul li a{
   margin: 0 25px;
   color: var(--light);
   text-decoration: none;
   border-bottom: 2px solid;
   padding-bottom: 2px;
}

header h1{
   font-weight: bold;
   color: var(--light);
   margin: 0;
   font-size: 40px;

}

header nav{
   margin: 4px 0;
}
