:root{
--dark:black;
--purp: rgb(161, 12, 161);
--font: font-family: Gill Sans, sans-serif;
--light: white;
--gra: grey;
}
         

/* Removes white outlines around background color (this took me so long to figure out) */

*{
   
margin: 0;
padding: 0;
}

/* Styles header*/

header{
flex-wrap: wrap;
background-image: radial-gradient(var(--gra), var(--dark));
display: flex;
 justify-content: space-between;
 padding: 20px 32px;

}

header nav ul{
   display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}


/* Makes the line below the clickables and colors their text*/

header nav ul li a{
   margin: 0 25px;
   color: var(--light);
   text-decoration: none;
   border-bottom: 2px solid;
   padding-bottom: 2px;
}
/* changes color of selection upon hover*/
a:hover{
color: rgb(2, 236, 186);
}
/* changes font properties and color for Header and h1*/
header h1{
   font-weight: bold;
   color: var(--light);
   margin: 0;
   font-size: 40px;

}

header nav{
   margin: 4px 0;
}

.info, .title {
   text-align: center;
}

#picture {
display: flex;
justify-content:center;
height: 300px;
width: 800px;

}

#picture img{

}